{
    "db-file": "alerts.sqlite.db",

    "admin-list": [
        "perl6/zoffix", "perl6.party", "localhost", "127.0.0.1"
    ],

    "consumer-key": "...",
    "consumer-secret":  "...",
    "access-token":  "...",
    "access-token-secret":  "..."
}
