body {
  background: #faf9db;
  color: #2b2b2b;
  padding: 0 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#content {
  margin: 10px auto;
  max-width: 1100px; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

h1 {
  font-size: 140%;
  letter-spacing: -1px;
  font-weight: normal; }
  h1 a {
    text-decoration: none;
    color: #2b2b2b; }
  h1 a:nth-child(3) {
    margin-left: 8px; }
  h1 img {
    margin: 0 5px;
    vertical-align: top; }
  h1 small {
    font-size: 70%;
    color: #777777;
    vertical-align: middle;
    margin-left: 10px; }

footer, footer * {
  color: #777777; }

#alerts {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }
  #alerts .alert {
    padding: 0;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05); }
    #alerts .alert a {
      color: #2b2b2b; }
    #alerts .alert h2 {
      margin: 0;
      border-radius: 4px 4px 0 0;
      padding: 20px;
      border-bottom: 1px solid #dedede;
      font-weight: normal;
      font-size: 90%;
      background: #f3f1af; }
      #alerts .alert h2 .sep {
        font-weight: normal;
        font-size: 70%;
        vertical-align: 20%;
        color: #777777; }
      #alerts .alert h2 span {
        font-weight: bold; }
    #alerts .alert p {
      padding: 20px;
      margin: 0; }
  #alerts .alert-info h2 {
    background: #aecbeb; }
  #alerts .alert-critical h2, #alerts .alert-critical h2 *, #alerts .alert-critical h2 .sep {
    background: #f9420a;
    color: white; }
